body {
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #ddddfd;
  cursor: url('/assets/cursor/cursor_default.png'), auto;
}

.room {
  background-image: url('/assets/room/room.PNG');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.draggable {
  cursor: url('/assets/cursor/cursor_grab.png'), grab;
}

.draggable:active {
  cursor: url('/assets/cursor/cursor_grabbing.png'), grabbing;
}

#wall-decor {
  position: absolute;
  transform: translate(20px, 368px);

  img {
    width: 200px;
  }
}

#table {
  position: absolute;
  transform: translate(125px, 150px);
  
  img {
    width: 400px;
  }
}

#comp-chair {
  position: absolute;
  transform: translate(50px, 50px);

  img {
    width: 200px;
  }
}

#lamp {
  position: absolute;
  transform: translate(250px, 70px);

  img {
    width: 100px;
  }

  #light-source {
    width: 100px;
    height: 100px;
    background-color: #ff8c00;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: radial-gradient(circle, #ffe562, transparent 80%);
    filter: brightness(2);
    transform: translate(5px, -120px)
  }
  
  .lamp-button {
    background: none; 
    border: none;
    cursor: pointer; 
    outline: none;
  }
  
}

