body {
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #ddddfd;
}

.base {
  background-image: url("/assets/room/room.PNG");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#wall-decor {
  position: absolute;
  min-width: 30%;
  transform: translate(20px, 368px);
}

#comp-chair {
  position: absolute;
  min-width: 30%;
  transform: translate(50px, 50px);
}

#table {
  position: absolute;
  min-width: 30%;
  transform: translate(150px, 150px);
}

#lamp-container {
  position: absolute;
  transform: translate(150px, 70px);
}

#light-source {
  width: 100px;
  height: 100px;
  background-color: #ff8c00;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: radial-gradient(circle, #ffe562, transparent 80%);
  filter: brightness(2);
  transform: translate(98px, -120px);
}

.lamp {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  width: 30%;
  height: auto;
}