body {
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #ddddfd;
}

.base {
  background-image: url('/assets/room/room.PNG');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#comp-chair {
  position: absolute;
  min-width: 30%;
  transform: translate(50px, 50px);
}

#table {
  position: absolute;
  min-width: 30%;
  transform: translate(150px, 150px); 
}

#lamp-container {
  position: absolute;
  min-width: 10%;
  transform: translate(150px, 150px);
}

#light-source {
  width: 100px;
  height: 100px;
  background-color: #ffe562;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 0 0 10px 10px rgba(255, 229, 98, 0.7); 
  transform: translate(98px, -136px)
}

.lamp {
  background: none; 
  border: none;
  cursor: pointer; 
  outline: none;
}

img {
  width: 30%;
  height: auto;
}

