body {
  margin: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background: #ddddfd;
}

.base {
  background-image: url('/assets/room/room.PNG');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

#item {
  position: absolute;
  min-width: 30%;
  transform: translate(50px, 50px);
}

#item-2 {
  position: absolute;
  min-width: 30%;
  transform: translate(150px, 150px); 
}

img {
  width: 30%;
  height: auto;
}

