body {
  background-color: #d2eaff;
}

.base {
  background-image: url("/assets/room/room.PNG");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}